{% extends 'email/base.html.twig' %}

{% block body %}  
    Hi <br><br>
        We successfully deleted your account on Ental.<br><br>        
        We’re sorry to see you go! To help us improve our Ental Car rental experience, we would appreciate it if you took a moment to fill out this quick survey.<br><br>
        
        <b>What was the reason for the cancelation? (Select up to 3 reasons):</b><br>       
        <ul>
            <li>It was not effective, and I didn’t achieve the results I wanted</li>
            <li>It doesn’t integrate with our other tools or systems</li>
            <li>It lacks key features or functionality</li>
            <li>It was difficult to use</li>
            <li>It’s too expensive</li>
            <li>Customer support was unsatisfactory</li>
            <li>This was a test account</li>
            <li>My organization closed</li>
            <li>Other</li>
        </ul>
        <br>If you don’t mind sharing, which [tool/ platform/ software] will you use now?<br><br>        
        What can we do to improve?<br><br>        
        Thanks,<br>
        <b>Ental Dream Team</b>

{% endblock body %}                                             


													