{% extends 'email/base.html.twig' %}

{% block body %}  
   Welcome {{user.fullname}}<br><br>
    <p>
        Welcome to Ental. We're thrilled to have you join us on our mission to provide rental cars at very competitive prices.<br>
        We started Ental to ensure quick &amp; seamless booking because why would you spend a lot of time sending emails back and 
        forth instead of doing it all in one go.<br><br>
        We are constantly refining our product to live up to our vision.
        <br><br>
        We believe that Ental will make a difference for you too, and we can't wait to hear your story.
        <br><br>        
        Thank you for joining us on this journey. We look forward to hearing your story.
        <br><br>         
        Looking forward to hearing more,
        <br><br> 
        <b>Ental Dream Team</b>
    </p> 
{% endblock body %}                                             


													