{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
  <section class="not-found">
         <div class="container">
            <div class="row">
               <div class="col-sm-12 text-center">
                  <div class="error-page">
                     <h1 class="error"> 404 :(</h1>
                     <h2>Not Found</h2>
                     <div class="error-details">
                        Sorry, an error has occured. Requested page/procees not found!
                     </div>
                     </br>
                         <a href="/home" class="btn btn-default btn-large btn-lg">Go Home</a>                       
                  </div>
               </div>
            </div>
         </div>
      </section>
{% endblock body %}