<link href="https://fonts.googleapis.com/css?family=Poppins%7CQuicksand:400,500,700" rel="stylesheet">
    <body style="font-size:12px;;color:#000;">    
        {% block body %}{% endblock %}
    </body>
